.root{
    -fx-background-color: linear-gradient(to top right,#ff6e7f, #bfe9ff);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}



.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(to top right,#79ceed, #c5e7f1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.border {
    -fx-background-color: #809ccc;
}

.explaination-field {
    -fx-background-color: #c398f4;
}

.container{
    -fx-background-color:  #fff;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.search-box{
    -fx-background-color:   #2898ef;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #8c7ae6, 15, 0, 0, 2) ;
}