@font-face {
    src: url("../font/Caudex-Regular.ttf");
}
.root{
    -fx-background-color: #fde2ac;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
.transparent-area {
    -fx-background-color: transparent;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-radius: 16pt;
    -fx-background-radius: 16pt;
    -fx-padding: 0;
}
.transparent-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Set the background color with some transparency */
}
.transparent-button:pressed {
    -fx-background-color: #d4d4d4; /* Set the background color with some transparency */
}
.transparent-button-selected {
    -fx-background-color: #d4d4d4; /* Set the background color with some transparency */
    -fx-border-radius: 16pt;
    -fx-background-radius: 10pt;
}
.border {
    -fx-background-color: #809ccc;
}

.explain-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3) ;
}

.explain-area {
    -fx-background-color: transparent;
}

.container{
    -fx-background-color:  #9eced9;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(gaussian, #545454, 5, 0, 0, 3) ;
}

.search-box{
    -fx-background-color:  transparent;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #545454, 5, 0, 0, 3) ;
}
.text-field {
    -fx-font-size: 18.0;
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-radius: 5;
    -fx-border-color: transparent; /* Transparent border */
    -fx-border-radius: 5;
    -fx-text-fill: #333333; /* Text color */
    -fx-prompt-text-fill: #999999; /* Prompt text color */
    -fx-padding: 0 5 0 5; /* Adjust padding as needed */
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.bar{
    -fx-background-color: #bebebe;
    -fx-effect: dropshadow(gaussian, #545454, 5, 0, 0, 3) ;
}

.search-area{
    -fx-background-color: transparent; /* Transparent background */
    -fx-border-color: transparent; /* Transparent border */
    -fx-padding: 0 5 0 5; /* Adjust padding as needed */
}

.alert{
    -fx-font-family: "Caudex";
    -fx-text-fill: #ffffff;
}