@font-face {
    src: url("../font/Caudex-Regular.ttf");
}
/*.easyBtn{
    -fx-background-color: #73D7CE;
    -fx-font-family: "Adagio Slab Light";
    -fx-font-size: 17;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
    -fx-cursor: hand;
}
.hardBtn{
    -fx-background-color: #E71D36;
    -fx-font-family: "Adagio Slab Light";
    -fx-font-size: 17;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
    -fx-cursor: hand;
}*/
.easyBtn{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: #12bceb;
    -fx-font-family: "Caudex";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.hardBtn {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: #E71D36;
    -fx-font-family: "Caudex";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.easyBtn:hover {
    -fx-background-color:
            #08D8D8 ;

}
.easyBtn:pressed{
    -fx-background-color:#05B8BD;
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.hardBtn:hover{
    -fx-background-color:
            #E80B40;
}
.hardBtn:pressed{
    -fx-background-color:
            #AA0029;
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.deck{
    -fx-font-family: "Caudex";
    -fx-text-fill: #000000;
    -fx-font-size: 17;
    -fx-background-color: #b8ebe6;
    -fx-background-radius: 5;
}
.normal-button{
    -fx-background-color: #2EC4B6;
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
    -fx-cursor: hand;
}
.normal-button:hover{
    -fx-background-color: #05B8BD;
}
.normal-button:pressed{
    -fx-background-color: #00A5AA;
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.label{
    -fx-text-fill: #000000;
    -fx-font-size: 17;
    -fx-font-family: "Caudex";
}

.toggle-button {
    -fx-font-family: "Caudex";
    -fx-border-width: 1px;
    -fx-border-color: #808080;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.toggle-button:selected {
    -fx-background-color: white;
}
.toggle-button:armed {
    -fx-background-color: white;
}
.toggle-button:determinate {
    -fx-background-color: white;
}
.toggle-button:indeterminate {
    -fx-background-color: white;
}
.toggle-button.dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}
.smallBtn{
    -fx-background-color: #f57f17;
    -fx-font-family: "Caudex";
    -fx-font-size: 15;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
    -fx-cursor: hand;
}
.smallBtn:hover{
    -fx-background-color: #ED3109 ;
}
.smallBtn:pressed{
    -fx-padding: 5 10 8 10;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.transparent-button {
    -fx-font-family: "Caudex";
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-radius: 15;
    -fx-background-radius: 16pt;
    -fx-padding: 0;
}
.transparent-button:hover {
    -fx-background-color: #D3D3D3; /* Set the background color with some transparency */
}
.transparent-button:pressed {
    -fx-background-color: #BEBEBE; /* Set the background color with some transparency */
}
.transparent-button-selected {
    -fx-font-family: "Caudex";
    -fx-font-size: 15;
    -fx-background-color: #d4d4d4; /* Set the background color with some transparency */
    -fx-border-radius: 15;
    -fx-background-radius: 16pt;
}
.whenFalse{
    -fx-border-radius: 10px;
    -fx-background-color: #FEDEDF;
    -fx-font-family: "Caudex";
    -fx-text-fill: #EF6163;
    -fx-font-size: 20px ;
}
.whenTrue{
    -fx-border-radius: 10px;
    -fx-background-color: #D6FEB8;
    -fx-font-family: "Caudex";
    -fx-text-fill: #6BB52C;
    -fx-font-size: 20px;
}
.pop-up-scene{
    -fx-background-color: #ffffff;
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-border-radius: 16pt;
    -fx-background-radius: 10pt;
}
.tmpPane{
    -fx-background-color: #daf5f1;
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-background-radius: 16;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
}
.textAreaCustom{
    -fx-font-family: "Caudex";
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-font-size: 17;
    -fx-border-radius: 16pt;
    -fx-background-radius: 10pt;

}
.choiceBox1{
    -fx-background-color: #2EC4B6;
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-border-radius: 16pt;
    -fx-background-radius: 10pt;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, #545454, 5, 0, 0, 3);
}
.inputUser{
    -fx-background-color: #ffffff;
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-background-radius: 5;
    -fx-text-fill: #000000;
}
.labelTmp{
    -fx-font-family: "Caudex";
    -fx-font-size: 25;
}
.textInDeck{
    -fx-text-fill: #6ac4bd;
    -fx-font-family: "Caudex";
    -fx-font-style: italic;

}
.autocorrect{
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-underline: true;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
}
.autocorrect:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.text-field{
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-underline: true;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}
.text-field2{
    -fx-font-family: "Caudex";
    -fx-font-size: 17;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}
.buttonReviewAdd{
    -fx-font-family: "Caudex";
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-radius: 15;
    -fx-background-radius: 8pt 8pt 2pt 2pt;
    -fx-padding: 0;
}
.buttonReviewAdd:hover {
    -fx-background-radius: 8pt 8pt 2pt 2pt;
    -fx-background-color: #D3D3D3; /* Set the background color with some transparency */
}
.buttonReviewAdd:pressed {
    -fx-background-radius: 8pt 8pt 2pt 2pt;
    -fx-background-color: #BEBEBE; /* Set the background color with some transparency */
}
.buttonReviewAddSelected{
    -fx-text-fill: #000000;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3;
    -fx-border-color: #809ccc;
    -fx-font-family: "Caudex";
    -fx-font-size: 15;
    -fx-background-color: #d4d4d4; /* Set the background color with some transparency */
    -fx-background-radius: 8pt 8pt 2pt 2pt;
}