.translate-text-box {
  -fx-background-insets: 0;
  -fx-background-color: transparent;
}

.translate-text-box .content {
  -fx-background-color: transparent, white, transparent, white;
}

.translate-text-box:focused .content {
  -fx-background-color: transparent, white, transparent, white;
}

.translate-text-box:focused {
  -fx-highlight-fill: -text-highlight-fill;
}

.translate-text-box .content {
  -fx-padding: 16px;
  -fx-text-fill: #181818;
  -fx-highlight-fill: -text-highlight-fill;
}

.translate-box-whole {
  -fx-background-color: -tertiary;
  -fx-background-radius: 32pt;
}


.translate-box {
  -fx-background-color: -text-box-color;
  -fx-background-radius: 28pt;
}
.reverse-button {
  -fx-border-radius: 16pt;
  -fx-background-radius: 16pt;
  -fx-border-width: 2;
  -fx-border-color: -border-1;
  -fx-background-color: -button-2;
}

.button-translate-service {
  -fx-text-fill: #eaeaea;
  -fx-background-radius: 8pt 8pt 2pt 2pt;
}

.button-translate-service:hover {
  -fx-text-fill: #f8f8f8;
  -fx-background-color: -button-2-hover;
}

.button-translate-service-selected {
  -fx-text-fill: -border-2;
  -fx-border-style: hidden hidden solid hidden;
  -fx-background-radius: 8pt 8pt 2pt 2pt;
  -fx-border-width: 3;
  -fx-border-color: -border-2;
}

.button-translate-utils {
  -fx-background-radius: 64pt;
}
.button-translate-utils:hover {
  -fx-background-color: #EEEEEE;
}
.button-translate-utils:pressed {
  -fx-background-color: #E0E0E0;
}

.choicebox-language .arrow-button {
  -fx-background-color: -fx; /* Change the arrow button background color */
  -fx-shape: "M0,0 L7,10 L14,0 Z"; /* Change the arrow icon */
  -fx-background-insets: 0;
}

.choicebox-language .label {
  -fx-font-size: 14px; /* Change the font size of the selected item label */
  -fx-text-fill: -text-language-select; /* Change the text color of the selected item label */
}

.choicebox-language .menu-item {
  -fx-font-size: 14px; /* Change the font size of menu items */
  -fx-text-fill: -text-language-select; /* Change the text color of menu items */
}
.container{
  -fx-background-color:  #9eced9;
  -fx-background-radius: 30;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(gaussian, #545454, 5, 0, 0, 3) ;
}
.choicebox-language .menu-item:hover {
  -fx-background-color: #f0f0f0; /* Change the background color of the hovered menu item */
}

.drag-box {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-width: 0px; /* Border width */
}

.drag-box-dragged {
  -fx-background-color: rgba(0, 0, 0, 0.14);
  -fx-border-style: dashed; /* Dashed border style */
  -fx-border-width: 3px; /* Border width */
  -fx-border-color: rgba(0, 0, 0, 0.47);
  -fx-border-dash-array: 8 8;
  -fx-background-radius: 4pt;
  -fx-border-radius: 4pt;
}

.button-confirm {
  -fx-background-radius: 24pt;
  -fx-background-color: -button-1;
  -fx-text-fill: #FFFFFF;
  -fx-focus-traversable: false;
}

.button-titlebar {
  -fx-background-color: rgba(0, 0, 0, 0.11);
  -fx-background-radius: 32pt;
  -fx-focus-traversable: false;
}

.titlebar {
  -fx-background-color: rgba(0, 0, 0, 0.01);
}
